@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0.625vw !important;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.25vw;
    border: 0.5vw solid transparent; 
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #181818;
}

button {
    border: none;
    appearance: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

#home {
    width: 100%;
    height: 100%;
    display: flex;
}

#sidebar {
    width: 21.35%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #111;
    padding: 2.5vw;
}

#sidebar .logo {
    width: 100%;
    height: 15%;
}

#sidebar ul {
    width: 100%;
    height: 65%;
    list-style: none;
}

#sidebar ul li a {
    width: 100%;
    height: 5.13vw;
    padding: 0.83333vw;
    display: flex;
    align-items: center;
    gap: 0.833333vw;
    text-decoration: none;
}

#sidebar ul li a .icon {
    height: 50%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sidebar ul li a img {
    opacity: 0.5;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 0.2s ease-in-out;
}

#sidebar ul li a .text {
    font-family: 'Poppins';
    font-size: 1.25vw;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: #fff;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
}

#sidebar ul li a.active img,
#sidebar ul li a.active .text {
    opacity: 1;
}

#app {
    width: calc(100% - 21.35%);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3.33vw;
    padding: 3.33vw;
    margin-left: 21.35%;
}

#app header {
    width: 100%;
    height: 7.5vh;
    display: flex;
    gap: 3.33vw;
}

#app header .search-bar {
    width: 75%;
    height: 100%;
    background-color: #212121;
    border-radius: 2vw;
    padding: 0.83333vw 1.66667vw;
    display: flex;
    align-items: center;
    gap: 0.83333vw;
}

#app header .search-bar .icon {
    height: 75%;
    aspect-ratio: 1 / 1;
    transform: translateZ(0);
}

#app header .search-bar .icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#app header .search-bar input {
    flex: 1;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-family: 'Poppins';
    font-size: 1.1vw;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.02em;
}

#app header .search-bar input::placeholder {
    color: #fff;
    opacity: 0.5;
}

#app header .profile-container {
    width: 25%;
    height: 100%;
    display: flex;
    gap: 3.33vw;
    position: relative; 
}

#app header .profile-container .notifications {
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: #212121;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app header .profile-container .notifications img {
    height: 35%;
    object-fit: contain;
}

#app header .profile-container .profile {
    width: 60%;
    height: 100%;
    background-color: #212121;
    border-radius: 1.66667vw;
    padding: 0.83333vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.83333vw;
    color: #fff;
    font-family: 'Poppins';
    font-size: 1.1vw;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.02em;
    cursor: pointer;
}

.profile-menu {
    position: absolute;
    top: calc(100% + 1vw);
    right: 0;
    width: 60%;
    background-color: #212121;
    border-radius: 1vw;
    padding: 0.866667vw;
    display: flex;
    flex-direction: column;
    gap: 0.866667vw;
    z-index: 100;
    transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s;
}

.profile-menu a {
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 1vw;
    padding: 0.8vw 1vw;
    border-radius: 0.5vw;
    transition: background-color 0.2s ease, color 0.2s ease;
    color: #fff;
    font-family: 'Poppins';
    font-size: 1.1vw;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.02em;
    cursor: pointer;
}

.profile-menu a:hover {
    background-color: #fff;
    color: #212121;
}

.profile-menu.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
}

#app .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.67vw;
    padding-bottom: 3.33vw;
}

#app .content .activity-feed {
    max-height: 31vh;
}

#app .content .activity-feed, #app .content .movies-list, #app .content .lists-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.67vw;
    flex-shrink: 0;
    min-height: 0;
    overflow: hidden; 
}

.activity-feed > span, .movies-list .movies-list-header > span, .lists-list .lists-list-header > span {
    font-family: 'Poppins';    
    color: #fff;    
    font-size: 1.5vw;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.02em;
}

#app .content .activity-feed .activities {
    width: 100%;
    background-color: #111;
    border-radius: 0.5vw;
    border: 0.05vw solid rgba(255, 255, 255, 0.5);
    overflow-y: auto;
    position: relative; 
    background-clip: padding-box; 
}

#app .content .activity-feed .activities .activity {
    border-bottom: 0.15vw solid rgba(255, 255, 255, 0.5);
    padding: 1vw;
    display: flex;
    flex-direction: column;
    gap: 0.8333333vw;
}

#app .content .activity-feed .activities .activity:last-child {
    border-bottom: none;
}

.activity-data {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activity-data, .activity-movie, .activity-list {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
}

.activity .activity-data .user {
    height: 100%;
    display: flex;
    gap: 0.83333vw;
    align-items: center;
} 

.user .user-img {
    height: 75%;
    aspect-ratio: 1 / 1;
    background-color: #fff;
    border-radius: 50%;
}

.user .user-name {
    font-family: 'Poppins';    
    color: #fff;    
    font-size: 1.25vw;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.02em;
}

.user .action {
    font-family: 'Poppins';    
    color: rgba(255, 255, 255, 0.5);    
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.02em;
}

.date {
    font-family: 'Poppins';    
    color: rgba(255, 255, 255, 0.5);    
    font-size: 1.15vw;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.02em;
}

.activity-movie, .activity-list {
    display: flex;
    gap: 0.83333vw;
}

.movie-img {
    height: 75%;
    aspect-ratio: 2 / 3;
    background-color: #fff;
    border-radius: 0.25vw;
}

.movie-info, .list-info {
    font-family: 'Poppins';    
    color: #fff;    
    font-size: 1.25vw;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.02em;
}

.review {
    display: flex;
    flex-direction: column;
    gap: 0.8333333vw;
}

.review .rating {
    display: flex;
    height: 1vw;
    gap: 0.416667vw;
}

.review .rating .star {
    height: 100%;
    aspect-ratio: 1 / 1;
}

.review .rating .star img {
    height: 100%;
    object-fit: contain;
}

.review .review-text {
    font-family: 'Poppins';    
    color: #fff;    
    font-size: 1.15vw;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.02em;
}

.list-img {
    height: 75%;
    aspect-ratio: 3 / 2;
    background-color: #fff;
    border-radius: 0.25vw;
}

.movies-list .movies-list-header, .lists-list .lists-list-header {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movies-list-header .movies-list-btns, .lists-list-header .lists-list-btns {
    height: 100%;
    display: flex;
    gap: 0.833333vw;
}

.movies-list-btns button:hover, .lists-list-btns button:hover {
    opacity: 1;
}

.movies-list-btns button, .lists-list-btns button {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 0.2vw solid #fff;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease;
}

.movies-list-btns button img, .lists-list-btns button img {
    height: 50%;
    object-fit: contain;
}

.movies-list .movies-scroll-list, .lists-list .lists-scroll-list {
    width: 100%;
    height: calc(100% - 3.17vw);
    display: flex;
    gap: 1.67vw;
    overflow-x: auto;
    overflow-x: scroll; 
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.movies-scroll-list .movie {
    aspect-ratio: 2 / 3;
}

.lists-scroll-list .list {
    padding: 1vw;
    display: flex;
    flex-direction: column;
    gap: 0.833333vw;
}

.movies-scroll-list .movie, .lists-scroll-list .list {
    min-width: calc((71.35vw - (5 * 1.67vw)) / 5.5);
    background-color: #111;
    border-radius: 0.5vw;
}

.list .list-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list .list-info .list-updated {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Poppins';
    font-size: 0.866667vw;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.02em;
}

.list .picture {
    width: 100%;
    aspect-ratio: 3 / 2;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
    overflow: hidden;
    border-radius: 0.5vw;
}

.picture .img {
    background-color: #fff;
}

.list .list-name {
    color: #fff;
    font-family: 'Poppins';
    font-size: 1.15vw;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.02em;
}

.list .list-quantity {
    display: flex;
    align-items: center;
    gap: 0.833333vw;
}

.list .list-quantity img {
    height: 1.15vw;
    object-fit: contain;
    opacity: 0.5;
}

.list .list-quantity .quantity {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Poppins';
    font-size: 1vw;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.02em;
}

.list .list-creator {
    width: 100%;
    height: 1.15vw;
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.list-creator .list-created-by {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Poppins';
    font-size: 0.75vw;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.02em;
}

.list-creator .list-creator-user {
    height: 1.15vw;
    display: flex;
    align-items: center;
}

.list-creator-user .creator-name {
    color: #fff;
    font-family: 'Poppins';
    font-size: 0.75vw;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.02em;
}