@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0.625vw;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.25vw;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #181818;
}

button {
    border: none;
    appearance: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

#filmes {
    width: 100%;
    height: 100%;
    display: flex;
}

#sidebar {
    width: 21.35%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #212121;
    padding: 2.5vw;
}

#sidebar .logo {
    width: 100%;
    height: 15%;
}

#sidebar ul {
    width: 100%;
    height: 65%;
    list-style: none;
}

#sidebar ul li a {
    width: 100%;
    height: 5.13vw;
    padding: 0.83333vw;
    display: flex;
    align-items: center;
    gap: 0.833333vw;
    text-decoration: none;
}

#sidebar ul li a .icon {
    height: 50%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sidebar ul li a img {
    opacity: 0.5;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 0.2s ease-in-out;
}

#sidebar ul li a .text {
    font-family: 'Poppins';
    font-size: 1.25vw;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: #fff;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
}

#sidebar ul li a.active img,
#sidebar ul li a.active .text {
    opacity: 1;
}

#app {
    width: calc(100% - 21.35%);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3.33vw;
    padding: 3.33vw;
    margin-left: 21.35%;
}

#app header {
    width: 100%;
    height: 7.5%;
    display: flex;
    gap: 3.33vw;
}

#app header .search-bar {
    width: 75%;
    height: 100%;
    background-color: #212121;
    border-radius: 2vw;
    padding: 0.83333vw 1.66667vw;
    display: flex;
    align-items: center;
    gap: 0.83333vw;
}

#app header .search-bar .icon {
    height: 75%;
    aspect-ratio: 1 / 1;
    transform: translateZ(0);
}

#app header .search-bar .icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#app header .search-bar input {
    flex: 1;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-family: 'Poppins';
    font-size: 1.1vw;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.02em;
}

#app header .search-bar input::placeholder {
    color: #fff;
    opacity: 0.5;
}

#app header .profile-container {
    width: 25%;
    height: 100%;
    display: flex;
    gap: 3.33vw;
    position: relative; 
}

#app header .profile-container .notifications {
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: #212121;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app header .profile-container .notifications img {
    height: 35%;
    object-fit: contain;
}

#app header .profile-container .profile {
    width: 60%;
    height: 100%;
    background-color: #212121;
    border-radius: 1.66667vw;
    padding: 0.83333vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.83333vw;
    color: #fff;
    font-family: 'Poppins';
    font-size: 1.1vw;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.02em;
    cursor: pointer;
}

.profile-menu {
    position: absolute;
    top: calc(100% + 1vw);
    right: 0;
    width: 60%;
    background-color: #212121;
    border-radius: 1vw;
    padding: 0.866667vw;
    display: flex;
    flex-direction: column;
    gap: 0.866667vw;
    z-index: 100;
    transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s;
}

.profile-menu a {
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 1vw;
    padding: 0.8vw 1vw;
    border-radius: 0.5vw;
    transition: background-color 0.2s ease, color 0.2s ease;
    color: #fff;
    font-family: 'Poppins';
    font-size: 1.1vw;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.02em;
    cursor: pointer;
}

.profile-menu a:hover {
    background-color: #fff;
    color: #212121;
}

.profile-menu.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
}

#app .content {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1.67vw;
    min-height: 0;
}

.popular-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app .content .popular {
    width: 66%;
    aspect-ratio: 16 / 9;
    flex-shrink: 0;
    background-color: #333;
    border-radius: 1.67vw;
    position: relative;
    overflow: hidden;
    transform: translateZ(0);
}

#app .content .popular:hover .img img {
    filter: blur(0);
}

#app .content .popular .img {
    width: 100%;
    height: 100%;
}

#app .content .popular .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(4px);
    transition: filter 0.2s ease;
}

#app .content .popular .info {
    position: absolute;
    bottom: 1.67vw;
    left: 1.67vw;
    display: flex;
    flex-direction: column;
    gap: 0.83vw;
    max-width: 75%;
}

#app .content .popular .info span {
    line-height: 100%;
}

#app .content .popular .info .movie-title {
    display: flex;
    gap: 0.83vw;
    align-items: baseline;
}

#app .content .popular .info .movie-title span {
    font-family: 'Poppins';
    font-size: 1.5vw;
    font-weight: 600;
    letter-spacing: -0.02em;
    color: #fff;
}

#app .content .popular .info .movie-genres {
    display: flex;
    gap: 0.83vw;
}

#app .content .popular .info .movie-genres .movie-genre {
    padding: 0.416667vw 1.67vw;
    background-color: transparent;
    border-radius: 1.67vw;
    border: 0.2083vw solid #fff;
    font-family: 'Poppins';
    font-size: 0.83vw;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: #fff;
    line-height: 100%;
}

#app .content .popular .info .movie-director, #app .content .popular .info .movie-sinopse {
    font-family: 'Poppins';
    font-size: 1vw;
    font-weight: 400;
    letter-spacing: -0.02em;
    color: #fff;
}

#app .content .popular .info .actions {
    display: flex;
    gap: 0.83vw;
    margin-top: 0.5vw;
}

#app .content .popular .info .actions a {
    display: flex;
    align-items: center;
    gap: 0.83vw;
    padding: 0.83vw 1.67vw;
    border-radius: 1.67vw;
    background-color: #fff;
    text-decoration: none;
}

#app .content .popular .info a .icon {
    max-height: 0.83vw;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app .content .popular .info a .icon img {
    width: 100%;
    aspect-ratio: 1 / 1;
}

#app .content .popular .info a span {
    font-family: 'Poppins';
    font-size: 0.83vw;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: #212121;
    line-height: 100%;
}

#app .content .suggestions {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.67vw;
}

#app .content .suggestions .maybeyoulike {
    font-family: 'Poppins';
    font-size: 1.75vw;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: #fff;
    line-height: 100%;
}

#app .content .suggestions .genres {
    width: 100%;
    min-height: 5vh;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 1.67vw;
}

#app .content .suggestions .genres .genre {
    background-color: transparent;
    border-radius: 1.67vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.2083vw solid #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#app .content .suggestions .genres .genre:hover {
    background-color: #333;
}

#app .content .suggestions .genres .genre.active {
    background-color: #fff;
    border-color: #fff;
}

#app .content .suggestions .genres .genre.active span {
    color: #212121;
}

#app .content .suggestions .genres .genre span {
    font-family: 'Poppins';
    font-size: 0.866667vw;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: #fff;
}

#app .content .suggestions .movies {
    width: 100%;
    min-height: 37.5vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3.33vw;
}

#app .content .suggestions .movies:empty {
    display: flex;        
    align-items: center;
    justify-content: center;
}

#app .content .suggestions .movies:empty::before {
    content: "Carregando...";
    color: #fff;
    opacity: 0.5;
    font-family: 'Poppins';
    font-size: 1.25vw;
    text-align: center;
    margin-top: 0;
    grid-column: auto;
    width: 100%;
}

#app .content .suggestions .movies .movie {
    background-color: #fff;
    border-radius: 1.67vw;
    overflow: hidden;
    transform: translateZ(0);
}

#app .content .suggestions .movies .movie:hover img {
    filter: grayscale(0);
}

#app .content .suggestions .movies .movie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(0.5);
    transition: filter 0.2 ease;
}