@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #181818;
}

button {
    border: none;
    appearance: none;
    outline: none;
}

#dashboard {
    width: 100%;
    height: 100%;
    display: flex;
}

#sidebar {
    width: 21.35%;
    height: 100%;
    background-color: #212121;
    padding: 2.5vw;
}

#sidebar .logo {
    width: 100%;
    height: 15%;
}

#sidebar ul {
    width: 100%;
    height: 65%;
    list-style: none;
}

#sidebar ul li a {
    width: 100%;
    height: 5.13vw;
    padding: 0.83333vw;
    display: flex;
    align-items: center;
    gap: 0.833333vw;
}

#sidebar ul li a .icon {
    height: 50%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sidebar ul li a img {
    opacity: 0.5;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#sidebar ul li a .text {
    font-family: 'Poppins';
    font-size: 1.25vw;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: #fff;
    opacity: 0.5;
}

#app {
    width: calc(100% - 21.35%);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3.33vw;
    padding: 3.33vw;
}

#app header {
    width: 100%;
    height: 7.5%;
    display: flex;
    gap: 3.33vw;
}

#app header .search-bar {
    width: 75%;
    height: 100%;
    background-color: #212121;
    border-radius: 1.66667vw;
    padding: 0.83333vw 1.66667vw;
    display: flex;
    align-items: center;
    gap: 0.83333vw;
}

#app header .profile-container {
    width: 25%;
    height: 100%;
    display: flex;
    gap: 3.33vw;
}

#app header .profile-container .notifications {
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: #212121;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app header .profile-container .profile {
    width: 60%;
    height: 100%;
    background-color: #212121;
    border-radius: 1.66667vw;
    padding: 0.83333vw;
    display: flex;
    align-items: center;
    gap: 0.83333vw;
}

#app .content {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1.67vw;
    min-height: 0;
}

#app .content .popular {
    width: 100%;
    height: 45%;
    background-color: #fff;
    border-radius: 1.67vw;
    position: relative;
    overflow: hidden;
    transform: translateZ(0);
}

#app .content .popular .img {
    width: 100%;
    height: 100%;
}

#app .content .popular .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#app .content .popular .info {
    position: absolute;
    bottom: 1.67vw;
    left: 1.67vw;
    display: flex;
    flex-direction: column;
    gap: 0.83vw;
    max-width: 50%;
}

#app .content .popular .info span {
    line-height: 100%;
}

#app .content .popular .info .movie-title {
    display: flex;
    gap: 0.83vw;
}

#app .content .popular .info .movie-title span {
    font-family: 'Poppins';
    font-size: 1.5vw;
    font-weight: 600;
    letter-spacing: -0.02em;
    color: #fff;
}

#app .content .popular .info .movie-genres {
    display: flex;
    gap: 0.83vw;
}

#app .content .popular .info .movie-genres .movie-genre {
    padding: 0.416667vw 1.67vw;
    background-color: #fff;
    border-radius: 1.67vw;
    font-family: 'Poppins';
    font-size: 0.83vw;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: #212121;
    line-height: 100%;
}

#app .content .popular .info .movie-director, #app .content .popular .info .movie-sinopse {
    font-family: 'Poppins';
    font-size: 1vw;
    font-weight: 600;
    letter-spacing: -0.02em;
    color: #fff;
}

#app .content .popular .info .actions {
    display: flex;
    gap: 0.83vw;
}

#app .content .popular .info .actions a {
    display: flex;
    align-items: center;
    gap: 0.83vw;
    padding: 0.83vw 1.67vw;
    border-radius: 1.67vw;
    background-color: #fff;
}

#app .content .popular .info a .icon {
    max-height: 0.83vw;
    aspect-ratio: 1 / 1;
}

#app .content .popular .info a .icon img {
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

#app .content .popular .info a span {
    font-family: 'Poppins';
    font-size: 0.83vw;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: #212121;
    line-height: 100%;
}

#app .content .suggestions {
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    gap: 1.67vw;
}

#app .content .suggestions .maybeyoulike {
    font-family: 'Poppins';
    font-size: 1.75vw;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: #fff;
    line-height: 100%;
}

#app .content .suggestions .genres {
    width: 100%;
    height: 12.5%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 1.67vw;
}

#app .content .suggestions .genres .genre {
    background-color: transparent;
    border-radius: 1.67vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.2083vw solid #fff;
    cursor: pointer;
}

#app .content .suggestions .genres .genre span {
    font-family: 'Poppins';
    font-size: 0.866667vw;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: #fff;
}

#app .content .suggestions .movies {
    width: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3.33vw;
    min-height: 0;
}

#app .content .suggestions .movies .movie {
    background-color: #fff;
    border-radius: 1.67vw;
    overflow: hidden;
    transform: translateZ(0);
}

#app .content .suggestions .movies .movie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}