@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0.625vw;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.25vw;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #181818;
}

button {
    border: none;
    appearance: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

#filmes {
    width: 100%;
    height: 100%;
    display: flex;
}

#sidebar {
    width: 21.35%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #111;
    padding: 2.5vw;
}

#sidebar .logo {
    width: 100%;
    height: 15%;
}

#sidebar ul {
    width: 100%;
    height: 65%;
    list-style: none;
}

#sidebar ul li a {
    width: 100%;
    height: 5.13vw;
    padding: 0.83333vw;
    display: flex;
    align-items: center;
    gap: 0.833333vw;
    text-decoration: none;
}

#sidebar ul li a .icon {
    height: 50%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sidebar ul li a img {
    opacity: 0.5;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 0.2s ease-in-out;
}

#sidebar ul li a .text {
    font-family: 'Poppins';
    font-size: 1.25vw;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: #fff;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
}

#sidebar ul li a.active img,
#sidebar ul li a.active .text {
    opacity: 1;
}

#app {
    width: calc(100% - 21.35%);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3.33vw;
    padding: 3.33vw;
    margin-left: 21.35%;
}

#app header {
    width: 100%;
    height: 7.5vh;
    display: flex;
    gap: 3.33vw;
}

#app header .search-bar {
    width: 75%;
    height: 100%;
    background-color: #212121;
    border-radius: 2vw;
    padding: 0.83333vw 1.66667vw;
    display: flex;
    align-items: center;
    gap: 0.83333vw;
}

#app header .search-bar .icon {
    height: 75%;
    aspect-ratio: 1 / 1;
    transform: translateZ(0);
}

#app header .search-bar .icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#app header .search-bar input {
    flex: 1;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-family: 'Poppins';
    font-size: 1.1vw;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.02em;
}

#app header .search-bar input::placeholder {
    color: #fff;
    opacity: 0.5;
}

#app header .profile-container {
    width: 25%;
    height: 100%;
    display: flex;
    gap: 3.33vw;
    position: relative; 
}

#app header .profile-container .notifications {
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: #212121;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app header .profile-container .notifications img {
    height: 35%;
    object-fit: contain;
}

#app header .profile-container .profile {
    width: 60%;
    height: 100%;
    background-color: #212121;
    border-radius: 1.66667vw;
    padding: 0.83333vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.83333vw;
    color: #fff;
    font-family: 'Poppins';
    font-size: 1.1vw;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.02em;
    cursor: pointer;
}

.profile-menu {
    position: absolute;
    top: calc(100% + 1vw);
    right: 0;
    width: 60%;
    background-color: #212121;
    border-radius: 1vw;
    padding: 0.866667vw;
    display: flex;
    flex-direction: column;
    gap: 0.866667vw;
    z-index: 100;
    transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s;
}

.profile-menu a {
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 1vw;
    padding: 0.8vw 1vw;
    border-radius: 0.5vw;
    transition: background-color 0.2s ease, color 0.2s ease;
    color: #fff;
    font-family: 'Poppins';
    font-size: 1.1vw;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.02em;
    cursor: pointer;
}

.profile-menu a:hover {
    background-color: #fff;
    color: #212121;
}

.profile-menu.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
}

#app .content {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1.67vw;
    min-height: 0;
}

.content-title {
    color: #fff;
    font-family: 'Poppins';
    font-size: 2vw;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.02em;
}

.genres {
    width: 100%;
    min-height: 5vh;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 1.67vw;
}

.genre {
    background-color: transparent;
    border-radius: 1.67vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.2083vw solid #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.genres .genre:hover {
    background-color: #333;
}

.genres .genre.active {
    background-color: #fff;
    border-color: #fff;
}

.genres .genre.active span {
    color: #212121;
}

.genres .genre span {
    font-family: 'Poppins';
    font-size: 0.866667vw;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: #fff;
}

.movies-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.67vw;
    flex-shrink: 0;
    min-height: 0;
}

.movies-list:empty 

.movies-list .movies-list-header {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movies-list-title {
    color: #fff;
    font-family: 'Poppins';
    font-size: 1.5vw;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.02em;
}

.movies-list-header .movies-list-btns {
    height: 100%;
    display: flex;
    gap: 0.833333vw;
}

.movies-list-btns button:hover {
    opacity: 1;
}

.movies-list-btns button {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 0.2vw solid #fff;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease;
}

.movies-list-btns button img {
    height: 50%;
    object-fit: contain;
}

.movies-list .movies-scroll-list {
    width: 100%;
    min-height: calc(100% - 3.17vw);
    display: flex;
    gap: 1.67vw;
    overflow-x: auto;
    overflow-x: scroll; 
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.movies-list .movies-scroll-list:empty {
    overflow-x: hidden; 
    display: grid; 
    place-items: center; 
}


.movies-list .movies-scroll-list:empty::before {
    content: "Nenhum filme encontrado";
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw; 
    color: rgba(255, 255, 255, 0.4);
    font-weight: 500;
    grid-column: 1 / -1; 
}

.movies-scroll-list .movie {
    aspect-ratio: 2 / 3;
    min-width: calc((71.35vw - (5 * 1.67vw)) / 5.5);
    max-width: calc((71.35vw - (5 * 1.67vw)) / 5.5);
    background-color: #111;
    border-radius: 0.5vw;
    overflow: hidden;
    transform: translateZ(0);
    position: relative;
    cursor: pointer;
}

.movie .movie-poster {
    width: 100%;
    height: 100%;
}

.movie-poster:hover img {
    filter: grayscale(0);
}

.movie-poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(0.5);
    transition: filter 0.2s ease;
}

.movie .movie-rating-badge {
    height: 2vw;
    padding: 0.25vw;
    display: flex;
    gap: 0.5vw;
    align-items: center;
    justify-content: flex-end;
    background-image: linear-gradient(to top right, #111, #0c0c0c);
    border-radius: 0.25vw;
    position: absolute;
    top: 0.5vw;
    right: 0.5vw;
}

.movie-rating-num {
    font-size: max-content;
    color: #fff;
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.02em;
}

.movie-rating-stars {
    margin-top: 0;
    padding-top: 0;
    height: 1vw;
    aspect-ratio: 1 / 1;
}

.movie-rating-stars img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.movies-scroll-list.vertical {
    display: grid;
    grid-auto-rows: auto; 
    grid-template-columns: repeat(5, 1fr); 
    gap: 1.67vw;
    min-height: 0;
}

.movies-scroll-list.vertical .movie {
    min-width: 0 !important;
}

.paginate-btns {
    width: 100%;
    height: 6vh;
    display: flex;
    gap: 1.67vw;
}

.paginate-btn {
    height: 100%;
    aspect-ratio: 1 / 1;
    background-image: linear-gradient(to top right, #111, #0c0c0c);
    border-radius: 0.25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    transition: outline 0.3s ease;
    cursor: pointer;
}

.paginate-btn:hover, .paginate-btn.active {
    outline: 0.125vw solid rgba(255, 255, 255, 0.5);
}

.paginate-counter {
    font-size: 1.5vw;
    color: #fff;
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.02em;
}