#alert-area {
    position: fixed;
    top: 3vw;
    bottom: 3vw;
    right: 3vw;
    width: 20vw;
    z-index: 999;
    pointer-events: none;
}

.alert-container {
    position: relative;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.alert {
    width: 100%;
    background-color: #252525;
    border-radius: 0.5vw;
    border: 0.1vw solid rgba(255, 255, 255, 0.25);
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.5vw;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    transition: bottom 0.2s ease, opacity 0.2s ease;
    pointer-events: none;
}

.alert-top {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.alert-icon {
    height: 1.5vh;
    aspect-ratio: 1 / 1;
}

.alert-icon img {
    height: 100%;
    object-fit: contain;
}

.alert-title {
    color: #fff;
    font-family: 'Poppins';
    font-size: 0.8vw;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.02em;   
}

.alert-description {
    padding-left: calc(1.5vh + 0.5vw);
    color: rgba(255, 255, 255, 0.50);
    font-family: 'Poppins';
    font-size: 0.725vw;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.02em;   
}