
#alert-modal-fade {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    top: 0;
    left: 0;
}

#alert-modal {
    width: 40vw;
    background-image: linear-gradient(to top right, #111, #0c0c0c);
    border-radius: 1.25vw;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    gap: 1.25vw;
    border: 0.15vw solid rgba(255, 255, 255, 0.25);
}

#alert-modal .modal-header {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.15vw solid rgba(255, 255, 255, 0.25);
}

#alert-modal .modal-header .modal-header-close {
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#alert-modal .modal-header-close img {
    height: 50%;
    object-fit: contain;
}

#alert-modal .modal-title {
    color: #fff;
    font-family: 'Poppins';
    font-size: 1.5vw;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.02em;   
}

#alert-modal .modal-body {
    display: block;
    overflow-y: visible;
    border-bottom: 0.15vw solid rgba(255, 255, 255, 0.25);
    padding-bottom: 1.25vw;
}

#alert-modal .modal-body .text {
    color: rgba(255, 255, 255, 0.75);
    font-family: 'Poppins';
    font-size: 0.85vw;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.02em;   
}

#alert-modal .modal-btns {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1vw;
}

#alert-modal .modal-footer button {
    height: 100%;
    aspect-ratio: 2 / 1;
    border-radius: 0.5vw;
    background-color: #fff;
    padding: 0 0.83333vw;
    white-space: nowrap;
}

#cancel-alert-btn {
    background: transparent !important;
    border: 0.15vw solid;
}

#cancel-alert-btn {
    border-color: rgba(255, 255, 255, 0.5) !important;
}

#cancel-alert-btn span {
    color: rgba(255, 255, 255, 0.5) !important;
}

#alert-modal .modal-footer button span {
    font-family: 'Poppins';
    font-size: 1.15vw;
    font-weight: 500;
    line-height: 115%;
    letter-spacing: -0.02em;
    color: #1b1b1b;
}