#dialog-modal-fade {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    top: 0;
    left: 0;
}

#dialog-modal {
    width: 25vw;
    background-image: linear-gradient(to top right, #111, #0c0c0c);
    border-radius: 1.25vw;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    gap: 1.25vw;
    border: 0.15vw solid rgba(255, 255, 255, 0.25);
}

#dialog-modal .modal-header {
    width: 100%;
    height: 12.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

#dialog-modal .title {
    color: #88CF6D;
    font-family: 'Poppins';
    font-size: 1.3vw;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.02em;   
}

#dialog-modal.sucesso .title {
    color: #88CF6D;
}

#dialog-modal.erro .title {
    color: #EA5656;
}

#dialog-modal .text {
    color: #fff;
    font-family: 'Poppins';
    font-size: 1vw;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.02em;   
}

#dialog-modal .info {
    width: 100%;
    height: 15vh;
    max-height: 15vh;
    display: flex;
    flex-direction: column;
    gap: 0.833333vw;
    overflow-y: scroll;
}

#dialog-modal .info > span {
    color: #fff;
    font-family: 'Poppins';
    font-size: 1vw;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.02em;
}

#dialog-modal .info .box {
    flex: 1;
    background-color: #212121;
    border-radius: 0.5vw;
    padding: 1vw;
}

#dialog-modal .info .box > span {
    color: #fff;
    font-family: 'Poppins';
    font-size: 0.75vw;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.02em;
}

#dialog-modal .modal-header img {
    height: 100%;
    object-fit: contain;
}

#dialog-modal .modal-title {
    color: #fff;
    font-family: 'Poppins';
    font-size: 1.75vw;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.02em;   
}

#dialog-modal .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25vw;
    overflow-y: visible;
    border: none;
    padding: 0;
}

#dialog-modal .modal-footer {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dialog-modal .modal-footer button {
    height: 100%;
    aspect-ratio: 2 / 1;
    border-radius: 0.5vw;
    background-color: #fff;
    padding: 0 0.83333vw;
    white-space: nowrap;
}

#dialog-modal .modal-footer button span {
    font-family: 'Poppins';
    font-size: 1.25vw;
    font-weight: 500;
    line-height: 115%;
    letter-spacing: -0.02em;
    color: #1b1b1b;
}