@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0.625vw;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.25vw;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #181818;
}

button {
    border: none;
    appearance: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

#usuarios {
    width: 100%;
    height: 100%;
    display: flex;
}

#sidebar {
    width: 21.35%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #111;
    padding: 2.5vw;
}

#sidebar .logo {
    width: 100%;
    height: 15%;
}

#sidebar ul {
    width: 100%;
    height: 65%;
    list-style: none;
}

#sidebar ul li a {
    width: 100%;
    height: 5.13vw;
    padding: 0.83333vw;
    display: flex;
    align-items: center;
    gap: 0.833333vw;
    text-decoration: none;
}

#sidebar ul li a .icon {
    height: 50%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sidebar ul li a img {
    opacity: 0.5;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 0.2s ease-in-out;
}

#sidebar ul li a .text {
    font-family: 'Poppins';
    font-size: 1.25vw;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: #fff;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
}

#sidebar ul li a.active img,
#sidebar ul li a.active .text {
    opacity: 1;
}

#app {
    width: calc(100% - 21.35%);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3.33vw;
    padding: 3.33vw;
    margin-left: 21.35%;
}

#app header {
    width: 100%;
    height: 7.5vh;
    display: flex;
    gap: 3.33vw;
}

#app header .search-bar {
    width: 75%;
    height: 100%;
    background-color: #212121;
    border-radius: 2vw;
    padding: 0.83333vw 1.66667vw;
    display: flex;
    align-items: center;
    gap: 0.83333vw;
}

#app header .search-bar .icon {
    height: 75%;
    aspect-ratio: 1 / 1;
    transform: translateZ(0);
}

#app header .search-bar .icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#app header .search-bar input {
    flex: 1;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-family: 'Poppins';
    font-size: 1.1vw;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.02em;
}

#app header .search-bar input::placeholder {
    color: #fff;
    opacity: 0.5;
}

#app header .profile-container {
    width: 25%;
    height: 100%;
    display: flex;
    gap: 3.33vw;
    position: relative; 
}

#app header .profile-container .notifications {
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: #212121;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app header .profile-container .notifications img {
    height: 35%;
    object-fit: contain;
}

#app header .profile-container .profile {
    width: 60%;
    height: 100%;
    background-color: #212121;
    border-radius: 1.66667vw;
    padding: 0.83333vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.83333vw;
    color: #fff;
    font-family: 'Poppins';
    font-size: 1.1vw;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.02em;
    cursor: pointer;
}

.profile-menu {
    position: absolute;
    top: calc(100% + 1vw);
    right: 0;
    width: 60%;
    background-color: #212121;
    border-radius: 1vw;
    padding: 0.866667vw;
    display: flex;
    flex-direction: column;
    gap: 0.866667vw;
    z-index: 100;
    transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s;
}

.profile-menu a {
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 1vw;
    padding: 0.8vw 1vw;
    border-radius: 0.5vw;
    transition: background-color 0.2s ease, color 0.2s ease;
    color: #fff;
    font-family: 'Poppins';
    font-size: 1.1vw;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.02em;
    cursor: pointer;
}

.profile-menu a:hover {
    background-color: #fff;
    color: #212121;
}

.profile-menu.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
}

#app .content {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1.67vw;
    min-height: 0;
}

.content-title {
    color: #fff;
    font-family: 'Poppins';
    font-size: 2vw;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.02em;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user-add-btn {
    height: 100%;
    padding: 0.75vw 1.5vw;
    background-color: #fff;
    border-radius: 0.25vw;
}

#user-add-btn span {
    display: block;
    color: #212121;
    font-family: 'Poppins';
    font-size: 1vw;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.02em;
}

.users-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.67vw;
}

.users-list-header, .users-list-row {
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 2fr 1fr 1fr 1fr;
    gap: 1.67vw;
}

.users-list-header {
    height: 7.5vh;
    background-image: linear-gradient(to right, #111111, #0c0c0c);
    border-radius: 0.5vw;
}

.users-header-col, .users-list-col {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
}

.users-header-col > span, .users-list-col > span {
    display: block;
    color: #fff;
    font-family: 'Poppins';
    font-size: 1.1vw;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.02em;   
}

.users-list-col > span {
    font-size: 0.833333vw;
}

.users-list-row {
    width: 100%;
    height: 6.5vh;
    background-color: #141414;
}

.status {
    padding: 0.4vw 0.8vw;
    background-color: #fff;
    color: #1b1b1b;
    border-radius: 5vw;
    font-weight: 400;
}

.status.deletado {
    color: #DE6F54 !important;
    background-color: #FFE0D9;
}

.status.ativo {
    color: #81C74C !important;
    background-color: #E3FFD9;
}

.status.bloqueado {
    color: #FFE44A !important;
    background-color: #FFE769;
}

.users-list-row:nth-of-type(even) {
    background-color: #252525;
}

.trailer-link {
    color: #fff;
    font-family: 'Poppins';
    font-size: 1.05vw;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.02em;   
    text-decoration: none;
}

.action-btn {
    height: 3.5vh;
    aspect-ratio: 1 / 1;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25vw;
}

.action-btn img {
    height: 50%;
    object-fit: contain;
}

#user-modal-fade {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    top: 0;
    left: 0;
}

#user-modal {
    width: 40vw;
    background-image: linear-gradient(to top right, #111, #0c0c0c);
    border-radius: 1.25vw;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    gap: 1.25vw;
    border: 0.15vw solid rgba(255, 255, 255, 0.25);
}

.modal-header {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.15vw solid rgba(255, 255, 255, 0.25);
}

.modal-header .modal-header-close {
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-header-close img {
    height: 50%;
    object-fit: contain;
}

.modal-title {
    color: #fff;
    font-family: 'Poppins';
    font-size: 1.5vw;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.02em;   
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25vw;
    border-bottom: 0.15vw solid rgba(255, 255, 255, 0.25);
    padding-bottom: 1.25vw;
}

.form-user-img {
    display: block;
    width: 6vw;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.img-preview {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #212121;
    position: relative;
    transform: translateZ(0);
    border-radius: 50%;
}

.img-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.change-img {
    width: 3vw;
    aspect-ratio: 1 / 1;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: calc(100% - 2vw);
    left: calc(100% - 2vw);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.change-img img {
    width: 50%;
    object-fit: contain;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.25vw;
    position: relative;
}

.form-group label {
    display: block;
    color: #fff;
    font-family: 'Poppins';
    font-size: 1.15vw;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.02em;   
}

.form-group input {
    width: 100%;
    height: 4.5vh;
    background-color: #212121;
    border-radius: 0.33vw;
    border: none;
    outline: none;
    padding: 0.5vw;
    font-family: 'Poppins';
    font-size: 1vw;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: -0.02em;
    color: #fff;
}

.radio-group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
}

.radio-group label {
    height: 3vh;
    display: flex;
    align-items: center;
    gap: 0.625vw;
}

.radio-box {
    height: 75%;
    aspect-ratio: 1 / 1;
    background-color: #1b1b1b;
    border: 0.075vw solid rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio-checked {
    height: 66%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.radio-group label span {
    font-family: 'Poppins';
    font-size: 1vw;
    font-weight: 500;
    line-height: 115%;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.25);
    transition: color 0.2s ease;
}

.radio-group input[type="radio"]:checked + label .radio-checked {
    opacity: 1;
}

.radio-group input[type="radio"]:checked + label span {
    color: #fff;
}

.radio-group input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
}

.modal-btns {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1vw;
}

.modal-footer button {
    height: 100%;
    aspect-ratio: 2 / 1;
    border-radius: 0.5vw;
    background-color: #fff;
    padding: 0 0.83333vw;
    white-space: nowrap;
}

#cancel-user-btn {
    background: transparent;
    border: 0.15vw solid;
}

#cancel-user-btn {
    border-color: rgba(255, 255, 255, 0.5);
}

#cancel-user-btn span {
    color: rgba(255, 255, 255, 0.5);
}

.modal-footer button span {
    font-family: 'Poppins';
    font-size: 1.15vw;
    font-weight: 500;
    line-height: 115%;
    letter-spacing: -0.02em;
    color: #1b1b1b;
}

textarea {
    width: 100%;
    height: 15vh;
    background-color: #212121;
    border-radius: 0.625vw;
    border: none;
    outline: none;
    padding: 1vw;
    font-family: 'Poppins';
    font-size: 1vw;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: -0.02em;
    color: #fff;
    resize: none;
}

.chip-input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.25vw;
}

.option {
    padding: 0.75vw 0.9vw;
    background-color: #0a0a0a;
    border-radius: 0.5vw;
    transition: background-color 0.2s ease;
}

.option.selected, .option:hover {
    background-color: #fff;
}

.option > span {
    font-family: 'Poppins';
    font-size: 1vw;
    font-weight: 500;
    line-height: 115%;
    letter-spacing: -0.02em;
    color: #fff;
    resize: none;
    transition: color 0.2s ease;
}

.option.selected > span, .option:hover > span {
    color: #111;
}

.selected-option {
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: calc(100% + 1vw);
    left: 0;
    width: 100%;
    background-color: #141414;
    border-radius: 1vw;
    padding: 0.5vw;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    z-index: 150;
    transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s;
}

.dropdown-menu button {
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 1vw;
    padding: 0.6vw 0.9vw;
    border-radius: 0.35vw;
    transition: background-color 0.2s ease, color 0.2s ease;
    color: #fff;
    font-family: 'Poppins';
    font-size: 1vw;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.02em;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}

.dropdown-menu button:hover {
    background-color: #fff;
    color: #212121;
}

.dropdown-menu.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
}